* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/assets/img/background.jpg);
    background-size: cover;
}   

footer{
    width: 100%;
    padding: 20px;
    position: absolute;
}


.img1 , img{
    width: 50%;
    height: 50%;
}
.nav1{
    display: flex;
    margin-top: 2%;
    justify-content: space-around;
}

.nav1 h1{
    margin-top: 3%;
    font-weight: bold;
    color: #3B7D80;
}