* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: no-repeat url(/assets/img/background.jpg);
    background-size: cover;
}
